
<%= javascript_include_tag '/app/assets/javascripts/collapse.js' %>






        <table class="table table-striped"  style="width:70%; margin:30px 50px 20px 160px">



        <div class="accordion" id="accordion1">

          <tr>
          <form action="create_resume"   method="GET" >

              <td>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                <% if @saved_jobs.all[0].is_applied == false %>
                    <%= @saved_jobs.all[0].job.position.title %> <%= @saved_jobs.all[0].job.company.name %>

                    <input type="hidden" name="job" value=0>
                <% end %>
              </a>
            </div>

            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">

                <%= @saved_jobs.all[0].job.description_snippet %>
              </div>
            </div>
          </div>

            </td>

            <td>

        <% if @saved_jobs.all[0].is_applied == false %>
            <input type="submit" value="Create Resume" class="btn btn-primary"  />
        <% end %>


            </td>
          </form>
          </tr>

      <tr>


      <form action="create_resume"   method="GET" >
        <td>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
            <% if @saved_jobs.all[1].is_applied == false %>
                <%= @saved_jobs.all[1].job.position.title %> <%= @saved_jobs.all[1].job.company.name %>
                <input type="hidden" name="job" value=1>
            <% end %>
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">

            <%= @saved_jobs.all[1].job.description_snippet %>

          </div>
        </div>
      </div>

       </td>

        <td>
          <% if @saved_jobs.all[1].is_applied == false %>
              <input type="submit" value="Create Resume" class="btn btn-primary"  />
            <% end %>

            </td>
      </form>
          </tr>




       <tr>
         <form action="create_resume"   method="GET" >
       <td>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
            <% if @saved_jobs.all[2].is_applied == false %>
                <%= @saved_jobs.all[2].job.position.title %> <%= @saved_jobs.all[2].job.company.name %>
                <input type="hidden" name="job" value=2>

            <% end %>
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= @saved_jobs.all[2].job.description_snippet %>
          </div>
        </div>
      </div>


          </td>

          <td>


          <% if @saved_jobs.all[1].is_applied == false %>
                <input type="submit" value="Create Resume" class="btn btn-primary"  />
          <% end %>

          </td>
         </form>
          </tr>

          </div>
</table>

<%# end %>


<!--:url => {:action => :create_resume, :id => @saved_jobs -->